# Eclipse
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
**/target/
**／.DS_Store
**/.settings
**/.classpath
**/.project
**/.externalToolBuilders
**/.pmd
**/.checkstyle
**/*.bpmn2d
settings.xml
**/pom.xml.versionsBackup
# idea
.idea/
**/*.iml

# Others
node_modules/
**/MANIFEST.MF
**/logs
**/LOG_PATH_IS_UNDEFINED
.flattened-pom.xml
dispatch.db